.app{
    background-color: aqua;
    border: 1px;
    size: 20px;
    padding: 10px;
}
.hi{
    color: blue;
}

.sunil{
    color: rgb(230, 225, 235);
    background-color: blue;
}

.santosh{
    color: #d9e5e6;
    background-color: blue;
}